/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; 
}

.logo_itnnovar{
		margin-top: -20px;
	margin-bottom: 50px;
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.card_link_title{
	color: #000000;
}
